name: Build & Test
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**.go"
      - "**.sol"
      
  push:
    branches:
      - main
      - "release/*"
    paths:
      - "**.go"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-coverage-upload:
    name: Run test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - uses: actions/checkout@v5
      - uses: technote-space/get-diff-action@v4
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: initia-labs/install-rocksdb@v1
      - name: test
        run: |
          make test
        if: env.GIT_DIFF
        env:
          GIT_DIFF: ${{ env.GIT_DIFF }}
