name: Build & Test
on:
  pull_request:
    paths:
      - "**.go"
      - "**.sol"
      
  push:
    branches:
      - main
      - "release/*"
    paths:
      - "**.go"
      - "**.sol"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-coverage-upload:
    name: Run test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.23
      - name: Install rocksdb
        run: sudo apt-get install -y librocksdb-dev
      - uses: actions/checkout@v5
      - uses: technote-space/get-diff-action@v4
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - name: test
        run: |
          make test
        if: env.GIT_DIFF
        env:
          GIT_DIFF: ${{ env.GIT_DIFF }}
